.about {
  padding: 50px 20px;
  min-height: calc(100vh - 100px);
  @include max(990) {
    min-height: auto;
  }
}

.about__wrap {
  position: relative;
}

.about__header {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
  color: #333;
  @include max(990) {
    font-size: 52px;
  }
  @include max(768) {
    margin-bottom: 30px;
    font-size: 32px;
    br {
      display: none;
    }
  }
}

.about__video {
  position: absolute;
  top: -20px;
  right: 110px;
  display: block;
  padding: 5px 15px;
  text-align: left;
  font-size: inherit;
  font-family: inherit;
  font-weight: normal;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  &:focus {
    outline: 0;
    // box-shadow: 0 0 0 3px rgba(#6d4da0, 0.3);
  }
  @include max(990) {
    right: 0;
  }
  @include max(768) {
    position: static;
  }
}

.about__video-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #6d4da0;
  background-image: url(../img/play.svg);
  background-size: 7px 8px;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.25s ease;
  will-change: transform;
}

.about__video:focus .about__video-icon {
  transform: scale(0.9);
}

.about__video-info {
  display: inline-block;
  margin-left: 10px;
}

.about__video-name {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
}

.about__video-duration {
  display: block;
  color: rgba(#333, 0.4);
}
