.about {
  padding: 50px 20px;
  min-height: calc(100vh - 100px);
  @include max(990) {
    min-height: auto;
  }
}

.about__wrap {
  position: relative;
}

.about__header {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
  color: #333;
  @include max(990) {
    font-size: 52px;
  }
  @include max(768) {
    margin-bottom: 30px;
    font-size: 32px;
    br {
      display: none;
    }
  }
}

.about__video {
  position: absolute;
  top: -20px;
  right: 110px;
  display: flex;
  @include max(990) {
    right: 0;
  }
  @include max(768) {
    position: static;
  }
}

.about__video-btn {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  background-color: #6d4da0;
  background-image: url(../img/play.svg);
  background-size: 7px 8px;
  background-repeat: no-repeat;
  background-position: center;
  transition: box-shadow 0.25s;
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 3px rgba(#6d4da0, 0.3);
  }
  &:active {
    background-color: darken(#6d4da0, 5%);
  }
}

.about__video-info {
  align-self: flex-end;
  margin-left: 20px;
}

.about__video-name {
  font-weight: 700;
}

.about__video-duration {
  color: rgba(#333, 0.4);
}
