.footer {
  padding: 40px 20px;
  color: #999;
  background-color: #191919;
  background-image: linear-gradient(45deg, rgba(#333, 0.4), rgba(#333, 0));
  a:hover {
    color: #fff;
  }
}

.footer__wrap {
  display: flex;
  flex-wrap: wrap;
}

.footer__nav {
  min-width: 195px;
  margin-right: 50px;
}

.footer__nav-header {
  margin-bottom: 20px;
  color: #fff;
}

.footer__list {
  margin-bottom: 30px;
  a {
    font-weight: 700;
  }
}

.footer__divider {
  height: 1px;
  margin-top: 35px;
  margin-bottom: 35px;
  background-color: rgba(#ccc, 0.1);
}

.footer__bottom {
  margin-top: 120px;
  display: flex;
  align-items: center;
  @include max(950) {
    flex-wrap: wrap;
  }
}

.footer__social {
  margin-left: auto;
  @include max(950) {
    margin-top: 20px;
    width: 100%;
  }
}

.footer__terms {
  margin-left: 130px;
  a {
    font-weight: 700;
    color: #999;
    text-decoration: none;
    & + a {
      margin-left: 15px;
    }
  }
  @include max(950) {
    margin-left: auto;
  }
  @include max(480) {
    margin-top: 20px;
    width: 100%;
  }
}

.footer__market {
  align-self: center;
  a + a {
    margin-left: 20px;
  }
}
