.gamburg {
  display: none;
  position: fixed;
  top: 50%;
  left: 10px;
  width: 40px;
  height: 40px;
  z-index: 999;
  margin-top: -19px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: transform .2s ease;
  &:hover {
    opacity: 0.7;
  }
  svg {
    display: block;
    margin: auto;
    width: 8px;
    height: 38px;

  }
  @include max(768) {
    display: block;
  }
}

@include max(768) {
  .nav-open .gamburg {
    transform: translate3d(220px, 0, 0);
  }
}
