.gamburg {
  display: none;
  @include max(768) {
    display: block;
  }
}

.gamburg__btn {
  position: fixed;
  top: 50%;
  left: 10px;
  width: 40px;
  height: 40px;
  z-index: 999;
  margin-top: -19px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: transform .2s ease;
  &:hover {
    opacity: 0.7;
  }
  svg {
    display: block;
    margin: auto;
    width: 8px;
    height: 38px;

  }
}

.gamburg__overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 998;
  background-color: rgba(#000, 0.3);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s linear;
}

@include max(768) {
  .nav-open .gamburg__btn {
    transform: translate3d(220px, 0, 0);
  }
  .nav-open .gamburg__overlay {
    visibility: visible;
    opacity: 1;
  }
}
