.logo {
  position: absolute;
  top: 20px;
  left: 0;
  width: 34px;
  height: 34px;
  display: block;
  &:link,
  &:hover,
  &:focus,
  &:active,
  &:visited {
    text-decoration: none;
  }
  @include max(1350) {
    position: relative;
    margin-right: 20px;
  }
}

.logo__img {
  width: 100%;
  height: 100%;
}
