.menu__header {
  margin-bottom: 45px;
  text-transform: uppercase;
  font-weight: 700;
  color: currentColor;
  &.has-hidden {
    visibility: hidden;
  }
}

.menu__list {
  @include list-unstyled;
}

.menu__item {
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}

.menu__link {
  text-decoration: none;
  color: currentColor;
}
