.nav {
  position: relative;
  width: 100%;
  @include max(1350) {
    align-self: flex-start;
    display: flex;
  }
  @include max(768) {
    position: fixed;
    top: 0;
    left: -220px;
    bottom: 0;
    z-index: 9999;
    padding-top: 20px;
    width: 220px;
    flex-direction: column;
    background-color: #333;
    overflow: auto;
    transition: transform .2s ease;
  }
}

@include max(768) {
  .nav-open .nav {
    transform: translate3d(220px, 0, 0);
  }
}

.nav__list {
  @include list-unstyled;
  display: flex;

  &--right {
    position: absolute;
    right: 0;
    top: 0;
  }
  &--center {
    width: 100%;
    max-width: 1040px;
    margin: auto;
    // justify-content: center;
    @include max(1070) {
      justify-content: flex-start;
    }
    @include max(768) {
      margin-top: 0;
    }
  }

  @include max(768) {
    display: block;
    &--right {
      position: static;
    }
    &--center {
      max-width: 100%;
    }
  }
}

.nav__item {
  margin-right: 36px;
  &:last-child {
    margin-right: 0;
  }
  &--has-popup {
    position: relative;
  }
  &--pull {
    margin-left: auto;
    @include max(1450) {
      margin-left: 0;
    }
  }
  @include max(768) {
    margin-right: 0;
  }
}

.nav__link {
  display: inline-block;
  padding-top: 20px;
  text-transform: capitalize;
  text-decoration: none;
  color: #333;

  &--muted {
    color: rgba(#333, 0.4);
  }

  &--popup {
    position: relative;
    z-index: 1000;
  }

  @include max(768) {
    display: block;
    padding: 10px 20px;
    font-weight: 700;
    color: #999;
    &:hover {
      color: #fff;
    }
  }
}

@include max(768) {
  .popup-open .nav__link--popup {
    color: #fff;
  }
}

.popup-open .nav__popup {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.nav__popup {
  position: absolute;
  left: -30px;
  top: 0px;
  z-index: 999;
  width: 350px;
  padding: 60px 10px 30px 30px;
  font-size: 13px;
  color: #fff;
  background-color: #0ca940;
  background-image:
  linear-gradient(145deg, rgba(#fed141, 0.25), rgba(#fed141, 0) 50%, rgba(#fed141, 0) 60%, rgba(#fed141, 0.25)),
  linear-gradient(45deg, rgba(#fed141, 0.1), rgba(#fed141, 0));
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease;

  p {
    margin-top: 0;
    margin-bottom: 10px;
  }

  a {
    color: #fff;
    text-decoration: underline;
  }

  @include max(850) {
    left: auto;
    right: -30px;
  }

  @include max(768) {
    left: 0;
    right: 0;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}
