.team {
  padding: 80px 20px 120px;
  background-color: #f8f8f8;
}

.team__header {
  margin-bottom: 60px;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  color: #333;
}

.team__text {
  margin-bottom: 110px;
  text-align: center;
  font-size: 16px;
}

.team__faces {
  @include list-unstyled;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 160px;

  li {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}

.team__specialists {
  margin-bottom: 45px;
  text-transform: uppercase;
  font-weight: 700;
}

.team__wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.team__list {
  margin-right: 70px;
  color: rgba(#333, 0.4);
  @include max(768) {
    margin-bottom: 50px;
  }
}

.team__cheers {
  width: 260px;
  margin-left: auto;
  @include max(768) {
    margin-left: 0;
  }
}
